DB_HOST=localhost
DB_PORT=1433
DB_NAME=insa
DB_USER=sa
DB_PASSWORD="example"
DB_DRIVER=ODBC Driver 17 for SQL Server

JWT_SECRET_KEY="example"
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES="example"
REFRESH_TOKEN_EXPIRE_DAYS="example"

CORS_ORIGINS=["http://localhost:5173"]

AES_KEY="example"
